.note {
	border-radius: 0 0 10px 0 ;
	margin: 40px 0;
	width: 400px;
	display: block;
	background-color: #FF7F3E;
	display: flex;


	.aside {
		width: 25px;
		background-color: red;
		button {
			width: 20px;
			border: none;
			background-color: transparent;
			cursor: pointer;

			path {
				fill: #fff;
			}
		}
	}

	.content {
		flex-grow: 1;
		
		h2 {
			background-color: red;
			padding: 5px 0;
		}

		p, input {
			padding: 20px;
			border: none;
			background-color: transparent;
		}
	}
}